/* input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #80ae9d;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 12px;

} */
/* 
input[type=text],
input[type=number] {
    border: 2px solid;
    border-bottom: 2px solid #0d0101;
} */

.SelectOptionsStyle {
    margin: 6px 0;
    padding: 14px;
    width: 100%;
    font-size: large;
}

.OptionsStyle {
    text-size-adjust: 100%;
    font-family: Arial;
    width: 100%;

}


.ComponentStyle {
    background-color: #a9c6cb;
    border-radius: 4px;
    max-width: 100%;
    padding: 48px;
}

.plantslist {
    display: flexbox;
}